@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App{
  font-family: sans-serif;
  
  font-style: normal;
}

.footer-detail{
  
  font-size: 3vh;
  color:white;
  text-align: center;
  
}
#footer-end{
 background-image: linear-gradient(black,rgb(59, 59, 59));
  width: 100%;
font-family: Poppins, sans-serif;
  text-align: center;
}
.cartel{
  width:auto;
}
.quantity span{
position: relative;
bottom: 10px;
}
@media only screen and (max-width:600px){
  .cartel{
    width:100%;
  }
}
.flip{
  animation: flipp .4s linear;
  
  /* backface-visibility: hidden; Prevents mirroring */
  /* transform-style: preserve-3d; Ensures 3D rotation looks correct */
}
/* @keyframes flipp {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(180deg);
  }
} */

@keyframes flipp {
  0% {
    transform: rotateY(0deg); /* Initial state */
  }
  50% {
    transform: rotateY(90deg); /* Mid-point rotation */
  }
  100% {
    transform: rotateY(0deg); /* Reset back to initial */
  }
}