@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Rowdies:wght@300;400;700&display=swap');
@font-face {
  font-family: vogue;
  src: url('./Vogue.ttf');
}
.head{
    position:sticky;
    top:0;
    z-index:  1;
background-image: linear-gradient(to top,rgb(32, 32, 32),rgb(61, 61, 61));

  }
  .cartNum{
    position: absolute;
    font-size:13px;
    padding: 0 5px;
    top:2vh;
    right:5%;
    height:fit-content;
    
  }
  #logo{
    position: relative; 
    left: 34%; 
    font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  @media only screen and (max-width:600px){
   #logo{
position: static;
   }
  }
  